* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #151615;
  color: white;
  text-decoration: none;
}

::selection {
  background-color: #1efc1e;
  color: #151615;
}